Description=PPPOE Client API

[Service]
Type=simple
#Environment='APP_RESTART_PPPOE=/usr/bin/pppoe-stop && /usr/bin/pppoe-stop' 'APP_START_PPPOE=/usr/bin/pppoe-start' 'APP_STOP_PPPOE=/usr/bin/pppoe-stop'
Environment='APP_RESTART_PPPOE=adsl-stop && adsl-start' 'APP_START_PPPOE=adsl-start' 'APP_STOP_PPPOE=adsl-stop'
ExecStart=/usr/bin/python3 /opt/pppoe-client-api/app.py
Restart=always

[Install]
WantedBy=multi-user.target